AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_ENDPOINT=
GEMINI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
HF_TOKEN=
OPENAI_API_KEY=
OPENROUTER_API_KEY=
PUSHOVER_TOKEN=
PUSHOVER_USER=
SMTP4DEV_BASE_URL=
SMTP4DEV_HOST=
SMTP4DEV_MAILBOX=
SMTP4DEV_PORT=
